@model FacultyInformationSystem.Models.Publication

@{
    ViewData["Title"] = "CreatePublications";
}

<style>
    body {
        background: darkgrey;
        background-image: url('https://fisstorag.blob.core.windows.net/fis-container/BackroundBlur.jpg');
        background-size: cover;
    }
</style>

<h1>CreatePublications</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePublications">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicationId" class="control-label"></label>
                <input asp-for="PublicationId" required class="form-control" />
                <span asp-validation-for="PublicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTiltle" class="control-label"></label>
                <input asp-for="PublicationTiltle" required class="form-control" />
                <span asp-validation-for="PublicationTiltle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" required class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" required class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationLocation" class="control-label"></label>
                <input asp-for="PublicationLocation" required class="form-control" />
                <span asp-validation-for="PublicationLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitationDate" class="control-label"></label>
                <input asp-for="CitationDate" required class="form-control" />
                <span asp-validation-for="CitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
