@model IEnumerable<FacultyInformationSystem.Models.Course>

@{
    ViewData["Title"] = "ViewCourses";
}
<style>
    body {
        background: darkgrey;
        background-image: url('https://fisstorag.blob.core.windows.net/fis-container/backTable.jpg');
        background-size:cover;
    }
</style>
<h1>ViewCourses</h1>

@foreach (var item in Model) 
{
    <br /><br />
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.CourseName)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.CourseCredits)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Dept.DeptName)
              </td>

              <br />
              <br />
          </tr>
}
  