@model IEnumerable<FacultyInformationSystem.Models.Subject>

@{
    ViewData["Title"] = "ViewSubjects";
}
<style>
    body {
        background: darkgrey;
        background-image: url('https://fisstorag.blob.core.windows.net/fis-container/backTable.jpg');
        background-size: cover;
    }
</style>
<h1>ViewSubjects</h1>

@foreach (var item in Model) 
{
    <br /><br />
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept.DeptName)
            </td>          
        </tr>
}
    
