@model FacultyInformationSystem.Models.Subject

@{
    ViewData["Title"] = "CreateSubject";
}
<style>
    body {
        background: darkgrey;
        background-image: url('https://fisstorag.blob.core.windows.net/fis-container/BackroundBlur.jpg');
        background-size: cover;
    }
</style>
<h1>CreateSubject</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <input asp-for="SubjectId" required class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" required class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptId" class="control-label"></label>
                <input asp-for="DeptId" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
