@model FacultyInformationSystem.Models.User

@{
    ViewData["Title"] = "SignIn";
}

<style>
    body {
        background: darkgrey;
        background-image: url('https://fisstorag.blob.core.windows.net/fis-container/BackroundBlur.jpg');
        background-size: cover;
    }
</style>
<h1>SignIn</h1>

<h4>User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

